{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}

<div class="section">

    <h2>Finance: Portfolio</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end" colspan="8">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>

            </tr>
        </thead>
        <tbody>
                {% for row in final %}
                <tr>
                    <td class="text-start">{{ row["symbol"] }}</td>
                    <td class="text-start">{{ row["name"] }}</td>
                    <form action="/buy" method="post">
                        <td><input type="hidden" name="symbol" VALUE="{{ row['symbol'] }}"></td>
                        <td><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="No. of shares to Buy" type="number"></td>
                        <td><button class="btn btn-primary" type="submit">Buy</button></td>
                    </form>
                    <form action="/sell" method="post">
                        <td><input type="hidden" name="symbol" VALUE="{{ row['symbol'] }}"></td>
                        <td></td>
                        <td><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="No. of shares to Sell" type="number"></td>
                        <td><button class="btn btn-primary" type="submit">Sell</button></td>
                    </form>
                    <td class="text-start">{{ row["Shares_tot"] }}</td>
                    <td class="text-end">{{ row["current"] | usd }}</td>
                    <td class="text-end">{{ row["amount"] | usd}}</td>
                    </tr>
                {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="11">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="11">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ Final_tot | usd }}</td>
            </tr>
        </tfoot>
    </table>
</div>
</div>
{% endblock %}